html{
    background-color: rgb(253, 236, 217);
}
.Thin_Spacer{
    height:15px;
    width:100%;
}
.Homepage_Title{
    font-family:'Courier New', Courier, monospace;
    display: grid;
    width: 100%;
    justify-content: center;
}
.Homepage_Content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    border-top-style: dashed;
    border-top-width: 2px;
    width: auto;
    justify-items: center;
}
.Project_Pond{
    width: 600px;
    height: 450px;
    display: grid;
    background-image: url(Page_Resources/Water_Surface.gif);
    box-shadow: inset 0 -3em 3em rgba(0, 73, 200, 0.3);
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(140, 53, 34);
}
.Main_Info{
    border-left-width: 2px;
    border-left-style: dashed;
    width: 100%;
    display: grid;
    justify-content: center;
}